
div.left {
	background-color: white; 
	height:300px; 
	width:80%; 
	margin:8px; 
	float:left;
	border-radius: 2px;
}


div.right {
	background-color: white; 
	height:300px; 
	width:17%; 
	margin:8px; 
	float:right;
	border-radius: 2px;
}



@media only screen and (max-width:620px) {
	.nav1, .nav2 {
		width: 100%;
		float: center;
	}


	.nav2 a, .nav1 a, .dropdown {
		width: 100%;
		float: center;
	}


  .right, .right img {
    width: 100%;
    float: center;
  }
}


@media screen and (max-width: 600px) {
  .navbar a {display: none;}
  .navbar a.icon {
    float: center;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .navbar.responsive {
    position: relative; 
    position: -webkit-sticky;
    position: sticky;
    top: 0;
  }

  .navbar.responsive .icon {
    position: relative;
    float: none;
    right: 0;
    top: 0;
  }

  .navbar.responsive a {
    position: relative;
    float: none;
    display: block;
    font-size: 12px;
    text-align: center;
    -webkit-transition: .3s;
    transition: .3s;
  }
}



.navbar .icon {
  display: none;
}



