
div.left {
	background-color: white; 
	height:300px; 
	width:80%; 
	margin:8px; 
	float:left;
	border-radius: 2px;
}


div.right {
	background-color: white; 
	height:300px; 
	width:17%; 
	margin:8px; 
	float:right;
	border-radius: 2px;
}
