
div.left {
	background-color: white; 
	height:300px; 
	width:80%; 
	margin:8px; 
	float:left;
	border-radius: 2px;
}


div.right {
	background-color: white; 
	height:300px; 
	width:17%; 
	margin:8px; 
	float:right;
	border-radius: 2px;
}



@media only screen and (max-width:620px) {
	.nav1, .nav2 {
		width: 100%;
		float: center;
	}


	.nav2 a, .nav1 a, .dropdown {
		width: 100%;
		float: center;
	}
}
